In [1]:
import pandas as pd

df = pd.read_csv("creditcard.csv")
print(f"Dataset Shape :- \n {df.shape}")

Dataset Shape :-
 (63472, 31)

In [2]:
df.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0.0
1,0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0.0
2,1,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0.0
3,1,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0.0
4,2,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0.0

In [3]:
df.describe()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
count,63472.000000,63472.000000,63472.000000,63472.000000,63472.000000,63472.000000,63472.000000,63472.000000,63472.000000,63472.000000,...,63471.000000,63471.000000,63471.000000,63471.000000,63471.000000,63471.000000,63471.000000,63471.000000,63471.000000,63471.00000
mean,32876.370951,-0.239755,-0.012681,0.685110,0.171481,-0.265122,0.102611,-0.113445,0.060235,0.046152,...,-0.028187,-0.107593,-0.038773,0.006023,0.136433,0.020155,0.001909,0.004163,96.080659,0.00260
std,13937.620130,1.859165,1.655059,1.431606,1.380519,1.390607,1.305557,1.248892,1.186829,1.173754,...,0.717475,0.636349,0.596221,0.596136,0.438851,0.498258,0.383913,0.322974,270.787460,0.05092
min,0.000000,-56.407510,-72.715728,-32.965346,-5.172595,-42.147898,-26.160506,-26.548144,-41.484823,-9.283925,...,-20.262054,-10.933144,-26.751119,-2.836627,-7.495741,-2.534330,-8.567638,-9.617915,0.000000,0.00000
25%,27310.750000,-0.998583,-0.585916,0.200353,-0.723986,-0.884022,-0.636320,-0.604362,-0.143175,-0.657457,...,-0.227571,-0.527888,-0.179561,-0.325172,-0.127732,-0.329552,-0.063137,-0.005981,7.680000,0.00000
50%,36494.500000,-0.243451,0.074815,0.775927,0.187217,-0.297487,-0.150156,-0.073530,0.064232,-0.052724,...,-0.062403,-0.082507,-0.051844,0.061251,0.174146,-0.076052,0.009199,0.022698,26.220000,0.00000
75%,43273.250000,1.154107,0.730518,1.409732,1.053796,0.274765,0.492800,0.423183,0.340827,0.707367,...,0.113836,0.307598,0.078972,0.402531,0.422721,0.296894,0.082428,0.076330,88.000000,0.00000
max,50731.000000,1.960497,18.183626,4.101716,16.715537,34.801666,22.529298,36.677268,20.007208,10.392889,...,22.614889,5.805795,17.297845,4.014444,5.525093,3.517346,11.135740,33.847808,19656.530000,1.00000

In [4]:
print(f"Columns or Feature names :- \n {df.columns}")

Columns or Feature names :-
 Index(['Time', 'V1', 'V2', 'V3', 'V4', 'V5', 'V6', 'V7', 'V8', 'V9', 'V10',
       'V11', 'V12', 'V13', 'V14', 'V15', 'V16', 'V17', 'V18', 'V19', 'V20',
       'V21', 'V22', 'V23', 'V24', 'V25', 'V26', 'V27', 'V28', 'Amount',
       'Class'],
      dtype='object')

In [6]:
print(f"Unique values of target variable :- \n {df['Class'].unique()}")

Unique values of target variable :-
 [ 0.  1. nan]

In [7]:
df.dropna()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0.0
1,0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0.0
2,1,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0.0
3,1,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0.0
4,2,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
63466,50729,-0.683502,0.444521,2.298155,1.336718,0.012177,2.612271,-0.459235,0.884856,-0.090692,...,0.220090,0.936358,0.008569,-1.001654,-0.670696,-0.100357,0.155562,0.125574,42.00,0.0
63467,50729,-0.885149,0.685702,2.633474,-0.627847,-0.382435,-0.341406,0.412056,0.144234,-0.591181,...,0.139998,0.262089,-0.177035,0.567301,0.143500,0.273751,0.000619,0.063722,33.86,0.0
63468,50730,1.524481,-0.443952,-0.917431,-1.170535,0.196548,-0.104157,-0.219461,-0.107692,-1.174652,...,0.120102,0.212776,-0.381743,-1.365279,0.966568,0.006848,-0.040391,-0.027141,15.00,0.0
63469,50731,0.384574,-1.420667,0.895325,1.034192,-1.259366,0.563206,-0.266365,0.235659,0.679938,...,0.103934,-0.241229,-0.224265,0.293396,0.006356,0.334843,-0.043213,0.075555,368.90,0.0
63470,50731,-2.905183,2.331722,-1.051898,-0.078557,3.616107,-0.652025,4.420506,-5.210530,6.723739,...,-1.285569,-0.230240,-0.541085,-0.742582,0.018568,-0.863808,-1.438975,-2.156480,1.00,0.0

In [8]:
print(f"Number of samples under each target value :- \n {df['Class'].value_counts()}")

Number of samples under each target value :-
 0.0    63306
1.0      165
Name: Class, dtype: int64

In [9]:
print(f"Dataset info :- \n {df.info()}")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 63472 entries, 0 to 63471
Data columns (total 31 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Time    63472 non-null  int64
 1   V1      63472 non-null  float64
 2   V2      63472 non-null  float64
 3   V3      63472 non-null  float64
 4   V4      63472 non-null  float64
 5   V5      63472 non-null  float64
 6   V6      63472 non-null  float64
 7   V7      63472 non-null  float64
 8   V8      63472 non-null  float64
 9   V9      63472 non-null  float64
 10  V10     63471 non-null  float64
 11  V11     63471 non-null  float64
 12  V12     63471 non-null  float64
 13  V13     63471 non-null  float64
 14  V14     63471 non-null  float64
 15  V15     63471 non-null  float64
 16  V16     63471 non-null  float64
 17  V17     63471 non-null  float64
 18  V18     63471 non-null  float64
 19  V19     63471 non-null  float64
 20  V20     63471 non-null  float64
 21  V21     63471 non-null  float64
 22  V22     63471 non-null  float64
 23  V23     63471 non-null  float64
 24  V24     63471 non-null  float64
 25  V25     63471 non-null  float64
 26  V26     63471 non-null  float64
 27  V27     63471 non-null  float64
 28  V28     63471 non-null  float64
 29  Amount  63471 non-null  float64
 30  Class   63471 non-null  float64
dtypes: float64(30), int64(1)
memory usage: 15.0 MB
Dataset info :-
 None

In [13]:
X = df.drop(['Class'], axis=1)
y = df[['Class']]
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=0)
print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

(44430, 30)
(19042, 30)
(44430, 1)
(19042, 1)

In [ ]:
from sklearn.naive_bayes import GaussianNB
from sklearn.linear_model import LogisticRegression
from sklearn.naive_bayes import GaussianNB
nb = GaussianNB()
nb.fit(X_train, y_train)

predTrain = nb.predict(X_train)
from sklearn.metrics import classification_report
print(classification_report(y_train, predTrain))
from sklearn.metrics import roc_auc_score as roc
print('ROC AUC Score: ',roc(y_train, predTrain))

# New Section